html, body, .main{
			margin: 0;
			padding: 0;
			height: 100%;
			width: 100%;
		}

		.flex{
			display: flex;
			height: 50%;
			width: 100%;
		}

		.btn{
			font-size: 72pt;
			height: 100%;
			width: 100%;
			border-color: #007bff;
		}

		.circular{
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 500px;
			height: 500px;
			border-radius: 50%;
			border-color: white;
			border-width: 5px;
		}