<!DOCTYPE html>
<html>
<head>
	<title>Budd, a way of smart living</title>
	<link rel="stylesheet" href="../style/bootstrap.css">
	<link rel="stylesheet" href="../style/style.css">
</head>
<body>
	<div class="jumbotron">
	  <h1 class="display-4">Hello, world!</h1>
	  <p class="lead">This is the homesite of the Budd smart home system.</p>
	  <hr class="my-4">
	  <p>For more interaction with the system itself, have fun clicking these buttons below.</p>
	  <p class="lead">
	    <a class="btn btn-primary btn-lg" href="turnOnAll" role="button">Turn on all lights!</a>
	  </p>
	  <p class="lead">
	    <a class="btn btn-primary btn-lg" href="turnOffAll" role="button">Turn it off</a>
	  </p>
	</div>
</body>
</html>